
$custom: #64c5b1;

// Color variables

$white: #ffffff;

$default: #dae6ec;
$primary: #4489e4;
$success: #32c861;
$info: #34d3eb;
$warning: #ffa91c;
$danger: #f96a74;
$purple: #5553ce;
$pink: #ec6794;
$inverse: #36404c;
$muted: #98a6ad;
$light: #e2e2e2;
$light3: #f3f3f3;
$light7: #797979;
$dark: #313a46;

$bg-body: #f1f1f1;

$shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);



//Background left-sidebar
$bg-leftbar: #343c49;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

//Font variables
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;

//Font Base
$font-size-base: 14px;
